# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/
env/
.venv/

# Django
*.pot
*.py[cod]
*.so
*.egg
*.egg-info/
*.db
*.sqlite3
*.log
staticfiles/
media/

# IDEs
.vscode/
.idea/
