body {
    overflow: hidden; /* 🔥 Page scroll band */
}

h2 {
    margin-bottom: 20px;
}

/* Card */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Inputs */
.card input, .card select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Button */
.card button {
    background: #3b82f6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}

/* Table scroll only */
.table-container {
    height: 400px;
    overflow: auto;
}

/* Table */
#empTable {
    width: 100%;
    border-collapse: collapse;
}

#empTable th {
    background: #1e293b;
    color: white;
    padding: 10px;
}

#empTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Icons */
.icon-btn {
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

/* Multi select */
.multi-select {
    position: relative;
    width: 200px;
}

.select-box {
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    cursor: pointer;
}

.checkboxes {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.show {
    display: block !important;
}