{% extends "admin/admin_base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'salary/css/admin_employee.css' %}">

<h2>Employees</h2>

<div class="card">
    <input id="name" placeholder="Name">
    <input id="email" placeholder="Email">
    <input id="password" placeholder="Password">
    <input id="salary" placeholder="Salary">

    <!-- Role -->
    <select id="role"></select>

    <!-- Technology Dropdown -->
    <div class="multi-select">
        <div class="select-box" onclick="toggleDropdown()">Select Tech ▼</div>
        <div class="checkboxes" id="techDropdown"></div>
    </div>

    <button onclick="addEmployee()">Add</button>
</div>

<hr>

<div class="table-container">
    <table id="empTable"></table>
</div>

<script src="{% static 'salary/js/admin_employee.js' %}"></script>
{% endblock %}